body{
	background-color: #312e2e;
}


.search{
	background-color: #F0CB0E;
	box-shadow: -4px 4px 8px rgba(70, 67, 67, 0.9);
}

.search__input{
	background-color: #fff;
	border: 2px solid #aaa;
}

.search__button{
	background-color: #EFEC38;
}

.search__button:hover{
	background-color: #EFE225;
}

.search__button-extended{
	background-color: #EFEC38;
}

.search__button-extended:hover{
	background-color: #EFE225;
}

.film{
	background-color: #211f1f;
	box-shadow: -4px 4px 8px rgba(70, 67, 67, 0.9);
}

.film__info{
	color: #fafafa;
}

.film__raiting{
    background-color: #c33838;
    color: #fff;
}

.film__date span{
	color: #969696;
}



.films__list-placeholder{
	color: #aaa;
}

.not-found{
	color: #D50820;
}